db-flow.json
[
    {
        "id": "526d607ff81354aa",
        "type": "tab",
        "label": "Filters with db node",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "d7e228eb526f3583",
        "type": "inject",
        "z": "526d607ff81354aa",
        "name": "media id",
        "props": [
            {
                "p": "mediaId",
                "v": "n7tcab2D",
                "vt": "str"
            },
            {
                "p": "connectionString",
                "v": "postgres://postgres:postgres@192.168.1.140:7000/dsp",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 100,
        "y": 40,
        "wires": [
            [
                "22cec6c884bd1e85"
            ]
        ]
    },
    {
        "id": "22cec6c884bd1e85",
        "type": "http request",
        "z": "526d607ff81354aa",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://cdn.jwplayer.com/v2/media/{{mediaId}}",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 130,
        "y": 120,
        "wires": [
            [
                "e51c6645daf36331"
            ]
        ]
    },
    {
        "id": "ec2d07cdd7fee937",
        "type": "function",
        "z": "526d607ff81354aa",
        "name": "filter_is_premium",
        "func": "console.log(msg.db_response)\nlet is_premium = msg.db_response[0].is_premium\nconsole.log(msg.payload.playlist)\nmsg.payload[\"playlist\"][0].is_premium = is_premium\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 650,
        "y": 200,
        "wires": [
            [
                "72c1a3e1e4c57316"
            ]
        ]
    },
    {
        "id": "55abad7f813e27be",
        "type": "function",
        "z": "526d607ff81354aa",
        "name": "filter_ad_breaks",
        "func": "var db_response = msg.db_response\nvar ad_breaks = db_response\nif (db_response.length < 1)\n{\n    ad_breaks = db_response[0]\n}\nconsole.log(msg.payload[\"playlist\"])\nconsole.log(msg.payload[\"playlist\"][0])\nmsg.payload[\"playlist\"][0].ad_breaks = ad_breaks\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 340,
        "wires": [
            [
                "5dc4a4edd43afd55"
            ]
        ]
    },
    {
        "id": "72c1a3e1e4c57316",
        "type": "build-db-query",
        "z": "526d607ff81354aa",
        "name": "",
        "columns": "start_frame, ad_duration, ad_type, ad_url",
        "itemSelectionKey": "xx123xx",
        "tableSelectionColumn": "media_id",
        "table": "ad_breaks",
        "x": 140,
        "y": 340,
        "wires": [
            [
                "3bf912aa061a8e7c"
            ]
        ]
    },
    {
        "id": "3bf912aa061a8e7c",
        "type": "get_db_response",
        "z": "526d607ff81354aa",
        "name": "",
        "x": 390,
        "y": 340,
        "wires": [
            [
                "55abad7f813e27be"
            ]
        ]
    },
    {
        "id": "e51c6645daf36331",
        "type": "build-db-query",
        "z": "526d607ff81354aa",
        "name": "",
        "columns": "is_premium, media_id",
        "itemSelectionKey": "xx123xx",
        "tableSelectionColumn": "media_id",
        "table": "premium_assets",
        "x": 140,
        "y": 200,
        "wires": [
            [
                "efa1c83fe587bebd"
            ]
        ]
    },
    {
        "id": "efa1c83fe587bebd",
        "type": "get_db_response",
        "z": "526d607ff81354aa",
        "name": "",
        "x": 390,
        "y": 200,
        "wires": [
            [
                "ec2d07cdd7fee937"
            ]
        ]
    },
    {
        "id": "1425a5fd8777e55f",
        "type": "debug",
        "z": "526d607ff81354aa",
        "name": "Result",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 710,
        "y": 560,
        "wires": []
    },
    {
        "id": "5dc4a4edd43afd55",
        "type": "function",
        "z": "526d607ff81354aa",
        "name": "filter_variations",
        "func": "delete msg.payload.playlist[0].variations\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 460,
        "wires": [
            [
                "1425a5fd8777e55f"
            ]
        ]
    }
]
